* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #202046;
  font-size: 17px;
  line-height: 1.4;
}

body::after {
  content: "";
  width: 100vw;
  height: 60px;
  background: url("../images/pattern-curve.svg") bottom left/contain no-repeat;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

main {
  height: 535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-photo {
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slide-text {
  -webkit-transform: translateX(-305px);
          transform: translateX(-305px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 90px;
}

.photo .background {
  width: 320px;
  height: 320px;
  position: absolute;
  top: -15%;
  lef: 0;
  z-index: -1;
}

.photo .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  overflow: hidden;
  border-radius: 5px;
}

.photo .image-wrapper img {
  width: inherit;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.photo .button-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: -20px;
  z-index: 1;
}

.photo .button-wrapper button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 45px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
}

.photo .button-wrapper button:first-child {
  border-radius: 50% 0 0 50%;
}

.photo .button-wrapper button:last-child {
  border-radius: 0 50% 50% 0;
}

.photo .button-wrapper button img {
  width: 10px;
  height: 15px;
}

.image-wrapper,
.button-wrapper {
  -webkit-box-shadow: 0 40px 50px -40px #574486;
          box-shadow: 0 40px 50px -40px #574486;
}

.text {
  position: relative;
}

.text::before {
  content: "";
  width: 60px;
  height: 50px;
  background: url("../images/pattern-quotes.svg") top left/contain no-repeat;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.text .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 305px;
  overflow: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.text .text-wrapper .text-item {
  scroll-snap-align: start;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.text .text-wrapper .text-item p {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 305px;
  text-align: center;
}

.text .text-wrapper .text-item .author,
.text .text-wrapper .text-item .role {
  display: block;
  font-weight: 700;
}

.text .text-wrapper .text-item .author {
  margin-top: 20px;
}

.text .text-wrapper .text-item .role {
  font-size: 16px;
  color: #babacf;
}

@media (min-width: 1250px) {
  body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 32px;
    line-height: 1.4;
  }
  body::after {
    height: 200px;
  }
  main {
    height: 800px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide-photo {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  .slide-text {
    -webkit-transform: translateX(-655px);
            transform: translateX(-655px);
  }
  .photo {
    height: 500px;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .photo .background {
    width: 620px;
    height: 620px;
    top: -65px;
    left: -40px;
  }
  .photo .image-wrapper {
    width: 500px;
    height: 500px;
  }
  .photo .button-wrapper {
    left: 60px;
  }
  .photo .button-wrapper button {
    width: 50px;
    height: 45px;
  }
  .text {
    width: 570px;
  }
  .text::before {
    width: 100px;
    height: 80px;
    top: -50px;
    left: 100px;
    margin: 0;
  }
  .text .text-wrapper {
    width: 655px;
  }
  .text .text-wrapper .text-item p {
    width: 655px;
    text-align: left;
  }
  .text .text-wrapper .text-item .author {
    font-size: 20px;
    margin-top: 30px;
  }
  .text .text-wrapper .text-item .role {
    margin-left: 5px;
    font-size: 20px;
    display: inline;
  }
}
/*# sourceMappingURL=style.css.map */