* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #202046;
  font-size: 17px;
  line-height: 1.4;
}

body::after {
  content: "";
  width: 100vw;
  height: 60px;
  background: url("../images/pattern-curve.svg") bottom left/contain no-repeat;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

main {
  height: 535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-photo {
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slide-text {
  -webkit-transform: translateX(-305px);
          transform: translateX(-305px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 90px;
}

.photo .background {
  width: 320px;
  height: 320px;
  position: absolute;
  top: -15%;
  lef: 0;
  z-index: -1;
}

.photo .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  overflow: hidden;
  border-radius: 5px;
}

.photo .image-wrapper img {
  width: inherit;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.photo .button-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: -20px;
  z-index: 1;
}

.photo .button-wrapper button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 45px;
  height: 40px;
  background-color: #fff;
}

.photo .button-wrapper button:first-child {
  border-radius: 40% 0 0 40%;
}

.photo .button-wrapper button:last-child {
  border-radius: 0 50% 50% 0;
}

.photo .button-wrapper button img {
  width: 10px;
  height: 15px;
}

.image-wrapper,
.button-wrapper {
  -webkit-box-shadow: 0 40px 50px -40px #574486;
          box-shadow: 0 40px 50px -40px #574486;
}

.text {
  position: relative;
}

.text::before {
  content: "";
  width: 60px;
  height: 50px;
  background: url("../images/pattern-quotes.svg") top left/contain no-repeat;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.text .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 305px;
  overflow: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.text .text-wrapper .text-item {
  scroll-snap-align: start;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.text .text-wrapper .text-item p {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 305px;
  text-align: center;
}

.text .text-wrapper .text-item .author,
.text .text-wrapper .text-item .role {
  display: block;
  font-weight: 700;
}

.text .text-wrapper .text-item .author {
  margin-top: 20px;
}

.text .text-wrapper .text-item .role {
  font-size: 16px;
  color: #babacf;
}
/*# sourceMappingURL=style.css.map */