//COLORS

$dark-blue: hsl(240, 38%, 20%)

$grayish-blue: hsl(240, 18%, 77%)

$proportion-photo: 250px

$proportion-text: 305px

*
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box

body
    text-align: center
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

    font-family: 'Inter', sans-serif
    font-weight: 300
    color: $dark-blue
    font-size: 17px
    line-height: 1.4

    &::after
        content: ""
        width: 100vw
        height: 60px

        background: url("../images/pattern-curve.svg") bottom left/contain no-repeat
        position: absolute
        bottom: 0
        z-index: -1

main
    height: 535px
    display: flex
    flex-flow: column
    justify-content: space-between

.slide-photo
    transform: translateX(-$proportion-photo)
    transition: all .3s ease

.slide-text
    transform: translateX(-$proportion-text)
    transition: all .3s ease

.photo
    display: flex
    justify-content: center
    position: relative
    margin-bottom: 90px

    .background
        width: $proportion-photo + 70px
        height: $proportion-photo + 70px
        position: absolute
        top: -15%
        lef: 0

        z-index: -1

    .image-wrapper
        display: flex
        width: $proportion-photo
        overflow: hidden
        border-radius: 5px

        img
            width: inherit
            transition: all .2s ease

    .button-wrapper
        display: grid
        grid-template-columns: 1fr 1fr
        position: absolute
        bottom: -20px
        z-index: 1

        button
            display: grid
            place-items: center
            width: 45px
            height: 40px
            background-color: #fff
            cursor: pointer

            &:first-child
                border-radius: 50% 0 0 50%
            &:last-child
                border-radius: 0 50% 50% 0
            
            img
                width: 10px
                height: 15px

.image-wrapper,
.button-wrapper
    box-shadow: 0 40px 50px -40px #574486

.text
    position: relative

    &::before
            content: ""
            width: 60px
            height: 50px
            background: url("../images/pattern-quotes.svg") top left/contain no-repeat
            position: absolute
            top: -25px
            left: 0
            right: 0
            margin: 0 auto

    .text-wrapper
        display: flex
        width: $proportion-text
        overflow: hidden
        scroll-snap-type: x mandatory

        .text-item
            scroll-snap-align: start
            transition: all .3s ease

            p
                flex: none
                width: $proportion-text
                text-align: center

            .author,
            .role
                display: block
                font-weight: 700

            .author
                margin-top: 20px

            .role
                font-size: 16px
                color: $grayish-blue

@media (min-width: 1250px)

    $proportion-photo-desktop: 500px
    $proportion-text-desktop: 655px

    body
        justify-content: center
        align-items: center

        font-size: 32px
        line-height: 1.4

        &::after
            height: 200px

    main
        height: 800px
        flex-flow: row-reverse
        align-items: center

    .slide-photo
        transform: translateX(-$proportion-photo-desktop)

    .slide-text
        transform: translateX(-$proportion-text-desktop)

    .photo
        height: $proportion-photo-desktop
        margin-bottom: 0
        align-items: center

        .background
            width: $proportion-photo-desktop + 120px
            height: $proportion-photo-desktop + 120px
            top: -65px
            left: -40px

        .image-wrapper
            width: $proportion-photo-desktop
            height: $proportion-photo-desktop

        .button-wrapper
            left: 60px

            button
                width: 50px
                height: 45px

    .text
        width: 570px

        &::before
            width: 100px
            height: 80px
            top: -50px
            left: 100px
            margin: 0
                
        .text-wrapper
            width: $proportion-text-desktop

            .text-item

                p
                    width: $proportion-text-desktop
                    text-align: left

                .author
                    font-size: 20px
                    margin-top: 30px

                .role
                    margin-left: 5px
                    font-size: 20px
                    display: inline